<ion-header>
  <ion-navbar [color]="isRecording ? 'danger':'primary'">
    <ion-title>
      Voice Control Robot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="scanBT()" [color]="scanStarted ? 'danger' : 'primary'">{{scanStatus}} &nbsp;<ion-icon name="bluetooth"></ion-icon></button>
  <button ion-button [color]="isConnected ? 'secondary' : 'danger'" clear>{{status}}</button>
 

  <p text-center>{{tabStatus}}</p>
    

    <ion-card-header><b>NB:</b>&nbsp;Robot Statistics</ion-card-header>
    <ion-row>
        <ion-col>
        <span>{{dataFromArduino}}</span>
        </ion-col>
    </ion-row>


      <ion-fab center middle (click)="action()">
        <button ion-fab [color]="isRecording ? 'danger':'primary'" mini><ion-icon name="mic"></ion-icon></button>
      </ion-fab><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


        <ion-card-header>Voice Command</ion-card-header>
          <ion-list>
            <ion-item *ngFor="let match of matches">
              You said {{ match }}
            </ion-item>
          </ion-list>

      <ion-list no-lines>
        <ion-list-header>Paired Devices</ion-list-header>
          <div>
              <button ion-item *ngFor="let paired of pairedDevices" (click)="selectDevice(paired)">
                  {{ paired.name }}
              </button> 
          </div> 
      </ion-list>

</ion-content>
