<ion-header>
  <ion-navbar>
    <ion-title>
      Voice Control Robot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="scanBT()" [color]="scanStarted ? 'danger' : 'primary'">{{scanStatus}} &nbsp;<ion-icon name="bluetooth"></ion-icon></button>
  <button ion-button [color]="isConnected ? 'secondary' : 'danger'" clear>{{status}}</button>
 

  <p text-center>{{tabStatus}}</p>
  

      <ion-row>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4 justify-content-center>
            <div class="row">
              <div class="col" padding>
                  <button class="toggleMe" id="change" ion-button round (click)="action()" [color]="isRecording ? 'danger' : 'primary'" large><ion-icon name="mic"></ion-icon></button>
              </div>
            </div>
        </ion-col>
        <ion-col col-4>
        </ion-col>
      </ion-row>

        <ion-card-header>Voice Command</ion-card-header>
          <ion-list>
            <ion-item *ngFor="let match of matches">
              {{ match }}
            </ion-item>
          </ion-list>

      <ion-list no-lines>
        <ion-list-header>Available Devices</ion-list-header>
          <div *ngIf="!deviceAvailable">
              <button ion-item *ngFor="let device of devices" (click)="selectDevice(device)">
                  {{ device.name }}
              </button> 
          </div> 
      </ion-list>

      <ion-list no-lines>
        <ion-list-header>Paired Devices</ion-list-header>
          <div>
              <button ion-item *ngFor="let paired of pairedDevices">
                  {{ paired.name }}
              </button> 
          </div> 
      </ion-list>

  
  
</ion-content>
